:root {
    --red: #6B0F1A;
    --pink: #A87D8B;
    --light: #EEF1EF;
    --brown: #301501;
    --radius: 12px;
}

body {
    background: var(--light);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.title {
    font-family: 'Northlima', serif;
    font-size: 60px;
}

.subtitle {
    font-size: 36px;
}

.header {
    text-align: center;
    padding: 120px;
}

.movies-grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.movie-card {
    background: white;
    padding: 30px;
    border-radius: var(--radius);
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

.poster {
    width: 100%;
    height: 260px;
    background: var(--pink);
    border-radius: var(--radius);
    margin-bottom: 20px;
}

.movie-title {
    font-size: 36px;
}

.text {
    font-size: 32px;
    margin-top: 10px;
}
