@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


.reviews-section {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 1rem;
}

/* Prevent navbar overlap when jumping */
#reviews {
  scroll-margin-top: 120px;
}


.feedback-card {
  width: 400px;
  padding: 2rem;
  background: #EEF1EF;
  border-radius: 20px;
  border: 1px solid #6B0F1A;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
}

h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.movie-title,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid #040234;
  background-color: #040234;
  color: #eee;
  font-family: inherit;
}

textarea {
  height: 100px;
  resize: none;
}


.stars {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 1.5rem 0;
}

.stars i {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}

.stars i.filled {
  color: #6B0F1A;
}


.submit-btn {
  padding: 1rem;
  border-radius: 15px;
  background: linear-gradient(135deg, #6B0F1A, #040234);
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
